*{
    margin:0;
    padding:0;
border:none;
}
html {
    color: #000;
    background: #FFF
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr {
    margin: 0;
    padding: 0
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset, img {
    border: 0
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal
}
ol, ul {
    list-style: none
}
caption, th {
    text-align: left
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}
q:before, q:after {
    content:''
}
abbr, acronym {
    border: 0;
    font-variant: normal
}
sup {
    vertical-align: text-top
}
sub {
    vertical-align: text-bottom
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}
legend {
    color: #000
}
.clear {
    clear: both;
}
a {
    color: #00275e
}
a {
    text-decoration: none;
}



.news h3 a {color:#fff;font-size:normal;}








/*--wrapper--*/
 body {
    font-family:Times new Roman;
    background: #fff url(../images/beijingxg.jpg) repeat-x;
    color: #555;
    margin: 0;
    position: relative;
    text-align: center;
}
#center {
    width: 891px;
    margin: 0 auto;
    text-align: left;
}
.wrapper {
    width: 891px;
    margin: auto;
}
#container {
    -moz-box-shadow: 0 0 10px #999;
    /* -webkit-box-shadow: 0 0 10px #999; */
    /* box-shadow: 0 0 10px #999; */
    /* background:#fff; */
}
/*--header--*/
 #header {
    width: 100%;
}
#header {
    background: #e8f9ff url(../images/logoEng.jpg) no-repeat right;
    height: 242px;
    position: relative;
}
#header p {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size:12px;
}
#header a {
    color: #ffffff;
    font-weight:700;
}
#logo {
    position: absolute;
    left: 30px;
    top: 43px;
    height: 107px;
    display: block;
    width: 700px;
}

#CN {
    position: absolute;
    /* right: 400px; */
    top: 35px;
    height: 20px;
    display: block;
    width:880px;
	text-align: right;
}

#CN1 {
    position: absolute;
    left: 350px;
    top: 350px;
    height: 15px;
    display: block;
    width: 600px;
    text-align: center;
}

#EN {
    position: absolute;
    /* right: 550px; */
    top: 95px;
    height: 15px;
    display: block;
    width: 680px;
    text-align: right;
}

/*--sidebar--*/
 #sidebar {
    margin-top: 10px;
    float: left;
    /* margin-left: 15px; */
    width: 174px;
}
#sidebar .widget {
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 20px
}
#sidebar .menu {
    background: #0075b8;
}
#sidebar .menu ul {
    padding-bottom: 20px;
    z-index:998
}
#sidebar .menu ul li a {
    line-height: 15px;
    border-bottom: 1px dashed #29a4cf;
    font-size: 15px;
    display: block;
    color:#fff;
    
    padding: 10px 0 10px 10px;
    font-family:"Times new Roman";
}
#sidebar .menu ul li {
    z-index: 998;
    background: #0075b8;
    width: 154px;
    float: left;
    padding: 0 10px 0 10px;
    line-height: 39px;
    position:relative;
}
#sidebar .menu ul li:hover, #sidebar .menu ul li.current, #sidebar .menu ul li.title {
    background:#013b60;
}
#sidebar .menu ul li:hover>a, #sidebar .menu ul li.current>a, #sidebar .menu ul li.title>a {
    color:#fff
}
#sidebar .menu ul li.title a {
    font-weight:700;
    border-bottom:none
}
#sidebar .menu ul li>ul {
    top:0px;
    float: left;
    left: 174px;
    display:none;
    position:absolute;
    z-index:999
}
#sidebar .menu ul li:hover ul {
    display:block;
}
#sidebar .menu ul li li {
    border-left: 5px solid #29a4cf;
    border-bottom: 1px solid #29a4cf;
    padding: 10px 0;
    width: 160px;
    line-height: 16px;
    background:#eee;
    z-index:999
;border-right: 1px solid #29a4cf;
}
#sidebar .menu ul li li a {
    padding: 0;
    border-bottom: none;
    font-size: 12px;
    color:#78c5fe;
    z-index:999;
    padding-left: 10px;
}
#sidebar .menu ul li li:hover, #sidebar .menu ul li li.current {
    background:#78c5fe;
}
#sidebar .link {
    text-align: center;
    margin:0;
}
#sidebar .link a {
    display: inline-block;
    margin:10px 0 0;

}
#sidebar .link .group{
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding-bottom: 10px;
}
#sidebar .link h3{
    background: #dedede;
    color: #0075b8;
    height: 25px;
    line-height: 25px;
    margin:5px 5px 0 5px;
}

#sidebar .link h31{
    background: #dedede;
    color: #0075b8;
    line-height: 25px;
    margin:5px 5px 0 5px;
    font-size:12px;
    height:30px;
}
/*--main--*/
 #main {
    margin: 0px 0 0 0px;
}
#main .sidebar{
    width:180px;
    float: right;
}
.sidebar .quicklink{
    margin-bottom: 15px;
     background: #78c5fe;
    width:170px;
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 5px;

}
.sidebar .quicklink a{
    display: block;
    height: 25px;
    color: #fff;
}
.sidebar .lists{

}
.sidebar h3{
    line-height: 32px;
    font-size: 19px;
    height: 32px;
    background: #78c5fe;
    padding:0 8px;
    color: #fff;
}
.sidebar .lists .listcontent{
    border: 1px solid #78c5fe;
    margin-bottom: 15px;
    padding: 5px 10px;
     font-size:13px;
}
.sidebar .lists .listcontent a{
    color: #717375;
    font-weight:200;
}
.sidebar .lists li{
    border-top:1px dashed #78c5fe;
    padding:5px 0;
    line-height: 20px;
}
.sidebar .lists .news li span{
    float: right;
}

.sidebar .lists li h4{
    font-weight: bold; 
    margin: 2px 0;
}
.sidebar .lists li.first{
  
}

/*--content--*/
 #content {
    width: 506px;
    background-color: #fff;
    padding: 5px;
    float: left;
}
#content .title {
    padding-bottom: 5px;
}
#content .title h3 {
    background: #fff;
    float: left;
    font-size: 16px;
    line-height: 32px;
    padding:0 10px 0 25px;
   
    font-weight: 700;
    color: #000;
    border-bottom: 5px solid #78c5fe;
}
#content .title .title-bg {
    float: left;
    padding-right: 7px;
    background: #fff;
}
#content .title .thumb {
    line-height: 32px;
    color: #aaa;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 5px solid #f4e101;
}
#content .title .thumb a {
    font-weight: 700;
    color: #aaa;
    font-size: 14px;
}
#content .artical 
{
    font-family: "Verdana","Times New Roman", Times, serif;
    font-size: 13px;
    color: #000;
    line-height: 21px;

    min-height: 375px;
    text-align: justify;
    _height:375px;
    margin-top: 10px;
}
#content .artical h2 {
    font-family:"Times New Roman", Times, serif;
    color: #78c5fe;
    margin: 10px 0 0;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    padding-left: 10px;
}
#content .artical .content-body {
    margin: 10px;
}
#content .artical .content-body p {
    margin-bottom: 0.8em;
}
#content .artical .content-body a {
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.left-column, .right-column {
    flex: 1;
    padding: 0 0px;
}

/*--Footer--*/
 #footer {
    background: #dedede;
    font-size: 14px;
    margin: 20px auto 0;
    color: #0075b8;
    /* border-top:3px solid #91bdd8; */
}
#footer .cp {
    padding:10px;
    text-align:center;
    font-weight:100;
    line-height:22px;
}
/* Slider styles */
#slider {
    margin-bottom: 10px;
}
.slider-wrapper {
    margin-bottom: 15px;
    position: relative;
    background: #fff;
}
.slider-wrapper .title {

    background-repeat: no-repeat;
    background-position: left top;
    height: 30px;
}
.slider-wrapper .title h3{
    padding-top: 8px;
    font-size: 16px;
    padding-left: 8px;
    color: #fff;
    line-height: 22px;
    float: left;
}
.slider-wrapper .title .more{
    float:right;
    font-size:12px;
    margin:10px 10px 0 0;
}
.slider-wrapper .detail_wrap {
    background: #4797c8;
    height: 277px;
    line-height: 100%;
}
/*news-list*/
 .news-list {
    margin:10px;
}
.news-list .item {
    border-bottom: 1px dashed #666;
    margin:10px;
    padding:10px 0;
}
.news-list .item h3 {
    font-size:16px;
    font-weight:700;
    color:#000;
    line-height:24px;
}
.news-list .item .discription {
    word-break:normal;
}
.pages {
    color: #999;
    font-size:14px;
}
.pages a, .pages .cpb {
    text-decoration:none;
    padding: 2px 5px 2px 5px;
    border: 1px solid #ddd;
    background: #fff;
    margin:0 2px;
    font-size:13px;
    color:#999;
}
.pages a:hover {
    background-color: #ccc;
    color:#fff;
    border:1px solid #ccc;
    text-decoration:none;
}
.pages .cpb {
    font-weight: bold;
    color: #fff;
    background: #ccc;
    border:1px solid #ccc;
}
#PageTxetTime {
    font-size: 13px;
    color: #999999;
    text-align: center;
    height: 25px;
    width: auto;
    padding-top: 5px;
}
#PageTxetUnderline {
    height: 2px;
    width: 600px;
    padding-top: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DBDBDB;
    margin: auto;
    margin-bottom: 15px;
}
#hot_wrap {
    z-index: 12;
    float: left;
}
#hot_wrap .title {

    background-repeat: no-repeat;
    background-position: left -30px;
    height: 30px;
    
}
#hot_wrap .title h3{
    padding-top: 8px;
    font-size: 16px;
    padding-left: 8px;
    color: #fff;
    line-height: 22px;
    float: left;
}
#hot_wrap .title .more{
    float:right;
    font-size:12px;
    margin:10px 10px 0 0;
}
#hot_wrap .box{
    width:460px;
    height: 247px;
    background: #fff;
    border:1px solid #4797c8;
}
#scroll_hot {
    height: 227px;
    width:440px;
    margin: 10px auto;
    overflow: hidden;
}
#scroll_hot table {
    width: 100%;
}
#scroll_hot table tr {
    border-bottom:2px solid #78c5fe;
}
#scroll_hot table td {
    padding: 10px 10px 10px 0;
    text-align: left;
    vertical-align: top;
    color: #5c5c5c;
}
#scroll_hot table td.img {
    text-align: center;
}
#scroll_hot table td.img img {
    width: 240px;
}
#scroll_hot table td span {
    display: block;
    float: left;
}
#scroll_hot table td h1 {
    margin: 0;
    font-size: 14px;
    font-weight:700;
    margin-bottom: 5px;
    clear: both;
}
#scroll_hot table td p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 116%;
    line-height: 20px;
}
#scroll_hot table td a {
    font-size: 13px;
    color: #78c5fe;
}
#scroll_hot table td a:hover {
    text-decoration: underline;
}
#scroll_hot table td div.date {
    position: relative;
    float: left;
    margin-bottom: 5px;
    color: #8e8e8e;
}
#scroll_hot table td span {
    display: block;
    float: left;
}
#scroll_hot table td span.day {
    font-size: 16px;
    padding: 2px;
    border: 1px solid #8e8e8e;
    height: 19px;
    min-width: 20px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}
#scroll_hot table td span.month, #scroll_hot table td span.year {
    font-size: 10px;
    width: 50px;
}
#scroll_hot table td span.year {
    position: absolute;
    bottom: 0;
    right: 0;
}
/*slider*/
.coda-slider-wrapper {}
.coda-slider-wrapper .coda-slider {
    width:735px
}
.coda-slider-wrapper .coda-slider .panel {
    width:735px;
    overflow:hidden
}
.coda-slider-wrapper .coda-slider .panel .panel-wrapper {
    padding:0;
    height:277px;
    overflow:hidden;
    width:735px
}
.coda-slider-wrapper .coda-nav .current {
    background-position:left top
}
.coda-slider-wrapper .coda-nav a {
    margin-right:1px
}
.coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a {
    background:#000;
    color:#fff;
    padding:5px;
    width:100px
}
.coda-slider-wrapper .coda-nav-left-arrow {
    width:30px;
    height:30px;

    position:absolute;
    left:0;
    top:47px
}
.coda-slider-wrapper .coda-nav-left-arrow a {
    width:0;
    height:0;
    border:0
}
.coda-slider-wrapper .coda-nav-left-arrow:hover {

}
.coda-slider-wrapper .coda-nav-right-arrow {
    width:30px;
    height:30px;
 
    position:absolute;
    right:7px;
    top:47px
}
.coda-slider-wrapper .coda-nav-right-arrow a {
    width:0;
    height:0;
    background:0 0;
    margin-top:0;
    border:0
}
.coda-slider-wrapper .coda-nav-right-arrow:hover {

}
.coda-slider-wrapper .loading {
    height:100%;
    padding:20px;
    text-align:center
}
.coda-slider-wrapper {
    overflow:auto;
    position:relative
}
.coda-slider-wrapper .coda-slider {
    float:left;
    overflow:hidden;
    position:relative
}
.coda-slider-wrapper .coda-slider .panel-container {
    position:relative
}
.coda-slider-wrapper .coda-slider .panel-container .panel {
    display:block;
    float:left;
    position:relative
}
.coda-slider-wrapper .coda-nav {
    position:absolute;
    top:50px;
    left:40px
}
.coda-slider-wrapper .coda-nav ul {
    clear:both;
    display:block;
    margin:auto;
    overflow:hidden;
    margin-left:0!important
}
.coda-slider-wrapper .coda-nav span {
    display:block;
    float:left;
    color:#b6a1ce;
    line-height:15px
}
.coda-slider-wrapper .coda-nav ul li {
    display:inline
}
.coda-slider-wrapper .coda-nav ul li a {
    display:block;
    float:left;

    width:15px;
    height:15px;
    text-decoration:none;
    background-repeat:no-repeat;
    background-position:left bottom;
    font-size:0
}
.coda-slider-wrapper .coda-nav ul li a:hover {
    background-position:left top
}
.coda-slider-wrapper .coda-nav-left-arrow, .coda-slider-wrapper .coda-nav-right-arrow {
    cursor:pointer;
    float:left;
    z-index:10
}
.coda-slider-wrapper .coda-nav-left-arrow a, .coda-slider-wrapper .coda-nav-right-arrow a {
    display:block
}
.coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right {
    float:left
}
.coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a {
    display:block;
    text-align:center;
    text-decoration:none
}
.coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-left-arrow {
    clear:both
}
.coda-slider .panel h2 {
    display:none!important
}
.coda-slider-wrapper .coda-slider .panel .header {
    float:left;
    color:#fff;
    font-size:100%;
    font-weight:800;
    line-height:20px
}
.coda-slider-wrapper .coda-slider .panel .header sup {
    line-height:9px
}
.coda-slider-wrapper .coda-slider .panel .des {
    margin-left:10px;
    float:left;
    font-size:83%;
    color:#eee;
    line-height:24px
}
.coda-slider-wrapper .coda-slider .panel .details {
    font-family: Times New Roman;
    height:25px;
    overflow:hidden;
    width:680px;
    padding: 8px 10px;}
.coda-slider-wrapper .coda-slider .panel img {
    position:absolute;
    left:0;
    bottom:0;
    height:245px;
    width:735px
}
/*scrollpane*/
.jspContainer {
    overflow:hidden;
    position:relative
}
.jspPane {
    position:absolute
}
.jspVerticalBar {
    position:absolute;
    top:0;
    right:0;
    width:8px;
    height:100%;
    background:red
}
.jspHorizontalBar {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:16px;
    background:red
}
.jspCap {
    display:none
}
.jspHorizontalBar .jspCap {
    float:left
}
.jspTrack {
    background:#dde;
    position:relative
}
.jspDrag {
    background:#78c5fe;
    position:relative;
    top:0;
    left:0;
    cursor:pointer
}
.jspHorizontalBar .jspDrag, .jspHorizontalBar .jspTrack {
    float:left;
    height:100%
}
.jspArrow {
    background:#50506d;
    text-indent:-20000px;
    display:block;
    cursor:pointer;
    padding:0;
    margin:0
}
.jspArrow.jspDisabled {
    cursor:default;
    background:#80808d
}
.jspVerticalBar .jspArrow {
    height:16px
}
.jspHorizontalBar .jspArrow {
    width:8px;
    float:left;
    height:100%
}
.jspVerticalBar .jspArrow:focus {
    outline:0
}
.jspCorner {
    background:#eeeef4;
    float:left;
    height:100%
}
* html .jspCorner {
    margin:0 -3px 0 0
}